@use "./variables" as *;
@use "sass:color";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $color-background;
}

::-webkit-scrollbar-thumb {
  background: $color-border;
  border-radius: 4px;

  &:hover {
    background: color.adjust($color-border, $lightness: -10%);
  }
}

